.configPanel {
  position: fixed;
  height: 100%;
  width: 22%;
  box-shadow: 2px 8px 4px 2px black;

  background: #043d78;

  .configButton {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 4px 8px 4px -5px black;
    padding: 7%;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 75%;
    background: #06367a;

    .text {
      font-size: medium;

      color: white;
    }
  }
}
