.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;

  .studentsList {
    margin: auto;
    height: 100%;
    margin-top: 5%;
    width: 50%;
  }
}
