@import "../../app/variables.module.scss";

.dash {
    position: relative;

    width: 100%;
    height: 100%;
    background: #91c5e8;

    .dashBody {
        display: flex;
        justify-content: space-between;
        color: white;

        padding: 1%;
        margin-left: 10%;
        margin-right: 10%;

        .dashItems {
            text-align: center;

            cursor: pointer;

            box-shadow: 4px 4px 4px 0px  black;

            width: 25%;
            height: 170px;
            background: #10508d;

            .text {
                font-size: larger;
            }
        }
    }
}
